/* header start */
.header {
    width: 100%;
    background: #fff;
    box-shadow: 0 1px 1px rgba(248, 248, 248, 0.1);
    position: relative;
    z-index: 5;
}

.header_top {
    width: 100%;
    height: 28px;
    border-bottom: 1px solid #e5e5e5;
    background: #f2f2f2;
    position: relative;
    zoom: 1;
    z-index: 10;
}

.header_top_box, .header_wide_lv2 .main_nav_box {
    width: 1090px;
    margin: 0 auto;
}

.header_top_box, .header_top_box a {
    color: #6c6c6c;
}

.header_top_box {
    height: 28px;
    background: #f2f2f2;
    line-height: 28px;
}

.header_top_left li {
    float: left;
    margin-right: 25px;
    display: inline;
}

.header_top_box, .header_top_box a {
    color: #6c6c6c;
}

ul {
    list-style-type: disc;
}

ol, ul {
    list-style: none;
}
/* header end */

/* header_top_right */
.header_top_right {
    position: relative;
}

.header_top_right li {
    float: left;
    display: inline;
    height: 28px;
    margin-right: 14px;
    position: relative;
    z-index: 9;
    zoom: 1;
}

.header_top_right {
    float: right;
    height: 28px;
}

.header_top_right a {
    color: #999;
    text-decoration: none;
}

/* | 线 */
.header_top_right .line {
    width: 1px;
    height: 14px;
    float: left;
    margin: 7px 12px 0 0;
    background: #ddd;
    overflow: hidden;
    padding: 0;
}

/* 手机图片 */
.header_top_right .icon_favorite {
    width: 12px;
    height: 11px;
    float: left;
    margin: 11px 2px 0 0;
}

.header_top_right .icon_favorite {
    background: url(http://a2.jmstatic.com/6af6d8c6b9b5ec16/header_sprites1.png) no-repeat;
}

.header_top_right .icon_mobile {
    background: url(http://a2.jmstatic.com/6af6d8c6b9b5ec16/header_sprites1.png) no-repeat;
}

.header_top_right .icon_mobile {
    width: 10px;
    height: 14px;
    background-position: 0 -21px;
    float: left;
    margin: 8px 5px 0 0;
}

.header_top_right .item_mobile a {
    color: #ed155b;
}

s {
    text-decoration: line-through;
}

a:hover  { 
    color: #ed155b;
}


/* header middle */
.header_center {
    width: 1090px;
    margin: 0 auto;
}

.header_center {
    height: 110px;
    color: #fff;
    margin: 0 auto;
}


.header_center .logo a {
    width: 165px;
    height: 85px;
    display: block;
    background: url(http://a0.jmstatic.com/1f9c4c9fa42515c2/logo_new_v1.jpg) no-repeat top left;
    text-indent: -999em;
}

.header_center .logo {
    margin-top: 13px;
    width: 175px;
    height: 56px;
    float: left;
}

.h1 {
    display: block;
    font-size: 100%;
    font-weight: 400;
}

/* 我的聚美 */
.header_top_right .item_ijumei, .header_top_right .item_more {
    padding-right: 18px;
    padding-left: 10px;
}

.header_top_right .icon_arrow_back {
    display: none;
}

i {
    font-style: italic;
}

.header_top_right a {
    color: #999;
    text-decoration: none;
}

a:hover {
    color: #ed155b;
}

.header_top_right .sub_nav {
    position: absolute;
    top: 29px;
    left: -35px;
    background: #fff;
    zoom: 1;
    z-index: 1;
    border: 1px solid #ddd;
    padding: 8px 0;
    width: 110px;
    border-top: 0;
    box-shadow: 1px 3px 5px rgba(0,0,0,.2);
    cursor: pointer;
}

.header_top_right .sub_nav li {
    background: #fff;
}

.header_top_right li {
    float: left;
    display: inline;
    height: 28px;
    margin-left: 14px;
    position: relative;
    z-index: 9;
    zoom: 1;
}

/* 搜索栏 */

.header_wide_lv2 .header_out_searchbox {
    margin-left: 124px;
}

.header_wide_lv2 .header_searchbox {
    width: 536px;
}

.header_searchbox {
    margin-left: 120px;
    float: left;
    position: relative;
    z-index: 8;
    height: 82px;
    padding-top: 28px;
    width: 536px;
}

.header_searchbox form {
    float: left;
}

form {
    display: block;
}

input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}

input[type="hidden" i] {
    display: none;
    -webkit-appearance: initial;
    background-color: initial;
    cursor: default;
    border: initial;
}

input {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark-color(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: start;
    -webkit-rtl-ordering: logical;
    font: 400 13.3333px Arial;
}

.header_wide_lv2 .header_out_searchbox .header_search_input {
    width: 423px;
}

.header_searchbox .header_search_input {
    width: 400px;
    height: 18px;
    padding: 7px 5px;
    border: solid #ed145b;
    border-width: 3px 0 3px 3px;
    float: left;
    font-size: 12px;
    color: #999;
    outline: 0 none;
}

input, select, textarea {
    font-family: inherit;
    font-weight: inherit;
}

.header_searchbox .header_search_btn {
    width: 100px;
    height: 38px;
    border: 0 none;
    color: #fff;
    font-size: 14px;
    line-height: 38px;
    float: left;
    background: #ed145b;
    cursor: pointer;
    padding: 0;
}

button {
    -webkit-appearance: button;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    box-sizing: border-box;
    margin: 0em;
    font: 400 13.3333px Arial;
}

/* .header_searchbox form:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
} */

.header_searchbox .search_result_pop_a, .new_header_ab .header_searchbox .search_result_pop {
    top: 46px;
}

.header_searchbox .search_result_pop, .header_searchbox .search_result_pop_a {
    top: 64px;
    z-index: 4;
}

.search_result_pop_a {
    background: 0 0;
}

.search_result_pop, .search_result_pop_a {
    width: 100%;
    position: absolute;
    z-index: 10;
    top: 26px;
    left: -1px;
}

/* 热搜索词 */
.header_searchbox .hot_word {
    overflow: hidden;
    height: 18px;
    line-height: 18px;
    margin-top: 6px;
    float: left;
    width: 446px;
}

ol, ul {
    list-style: none;
}

.header_searchbox .hot_word li {
    float: left;
    margin-right: 8px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.header_searchbox .hot_word {
    overflow: hidden;
    height: 18px;
    line-height: 18px;
    margin-top: 6px;
    float: left;
    width: 446px;
}

.header_searchbox .hot_word a {
    color: #999;
    text-decoration: none;
}

a:-webkit-any-link {
    cursor: pointer;
}

.header_searchbox .hot_word .line {
    overflow: hidden;
    width: 1px;
    height: 12px;
    display: inline-block;
    background: #999;
    margin: 2px 0 -2px 8px;
    padding: 0;
}

s {
    text-decoration: line-through;
}

.header_center .cart_box {
    float: right;
    margin-top: 33px;
    position: relative;
    z-index: 8;
}

.cart_box .cart_link {
    text-decoration: none;
    display: block;
    width: 138px;
    height: 32px;
    right: 20px;
    line-height: 32px;
    border: 1px solid #e5e5e5;
    position: relative;
    background: #fff;
    z-index: 2;
    box-shadow: 0 0 2px rgba(0,0,0,.2);
}

.cart_box .cart_content_zero {
    width: 260px;
    text-align: center;
    padding: 20px;
    color: #666;
    font-size: 14px;
    display: none;
    background: #fff;
}

.cart_box .cart_content {
    position: absolute;
    text-align: center;
    top: 33px;
    z-index: 2;
    right: 0;
    background: #fff;
    border: 1px solid #e5e5e5;
    box-shadow: 0 0 2px rgba(0,0,0,.2);
}

.cart_box .cart-icons {
    display: none;
    width: 138px;
    height: 5px;
    background: #fff;
    overflow: hidden;
    position: absolute;
    top: -5px;
    right: 0;
}

.cart_box .text {
    width: 86px;
    height: 32px;
    line-height: 32px;
    color: #666;
    overflow: hidden;
    float: left;
    padding-left: 6px;
    background: #f8f8f8;
}

.cart_box .cart_gif {
    float: left;
    width: 28px;
    height: 28px;
    overflow: hidden;
    padding: 0 9px 0 9px;
}

img {
    vertical-align: bottom;
}

fieldset, img {
    border: 0;
}

.cart_box .num {
    width: 27px;
    height: 30px;
    line-height: 30px;
    color: #fff;
    position: absolute;
    background-position: 0 -69px;
    top: -11px;
    font-family: arial;
    text-align: center;
    left: 34px;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-size: 100%;
}

/* header_bottom  start */
.header_bottom {
    width: 100%;
    margin: 0 auto;
}

.channel_nav_box {
    height: 38px;
    clear: both;
    width: 100%;
    background: url(http://a1.jmstatic.com/e653901f7f30da9c/nav_new_line.jpg) #000 repeat-x;
}

.channel_nav_box .channel_nav_list_wrap {
    height: 38px;
    margin: 0 auto;
    position: relative;
    width: 1090px;
}

.channel_nav_box .channel_nav_list_wrap .channel_nav_list {
    width: auto;
    height: 38px;
    float: left;
}

/* 首页 */
.channel_nav_list .current {
    background: #ed145b;
}
  
.channel_nav_list li {
    float: left;
    display: inline;
}

.channel_nav_list .current a {
    text-decoration: none;
}

.channel_nav_list .home {
    padding: 0 40px;
}

.channel_nav_list a {
    position: relative;
    white-space: nowrap;
    display: inline-block;
    line-height: 36px;
    padding: 0 22px;
    height: 38px;
    overflow: visible;
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    text-align: center;
}

.header_wide_lv2 .header_pop_subAtc {
    width: 1190px;
}

.header_pop_subAtc {
    position: absolute;
    background: #fff;
    left: 0;
    display: none;
    z-index: 18;
}

.header_pop_subAtc {
    top: 38px;
}

.box-shadow {
    box-shadow: 0 0 8px 0 rgba(0,0,0,.2), inset 0 0 1px 0 rgba(255,255,255,1);
}

/* icon */
.channel_nav_list_wrap .icon_Wrap {
    float: right;
    margin-top: 5px;
    height: 33px;
    overflow: hidden;
}

.channel_nav_list_wrap .icon_Wrap li {
    float: left;
    margin-right: 12px;
    width: 30px;
    overflow: hidden;
}

.channel_nav_list_wrap .icon_Wrap .divlist {
    width: 160px;
}

.channel_nav_list_wrap .icon_Wrap .divlist a {
    height: 30px;
    display: inline-block;
}

a {
    text-decoration: none;
}

.channel_nav_list_wrap .icon_Wrap span {
    background: url(http://a3.jmstatic.com/0d4bbfe600f8d38b/z_01new.jpg) no-repeat;
    display: inline-block;
    width: 30px;
    height: 30px;
    vertical-align: -9px;
    float: left;
    margin-right: 3px;
}

.channel_nav_list_wrap .icon_Wrap b {
    font-weight: 400;
    float: left;
    margin-top: 7px;
    color: #fff;
}

.channel_nav_list_wrap .icon_Wrap .divlist03 .by, .channel_nav_list_wrap .icon_Wrap .divlist03 .pop_by {
    background: url(http://a1.jmstatic.com/79ab7f2d9d35ac68/z03.jpg) no-repeat;
}

/* 首屏350px高轮播广告位 && 首页新用户大弹窗自定义广告位 */
.site_body {
    min-width: 1090px;
    position: relative;
    background: #f7f7f7;
}

.site_body {
    min-width: 1090px;
    position: relative;
    background: #f7f7f7;
}

.site_switch {
    width: 100%;
    overflow: hidden;
    height: 350px;
}

.ecope_switchable {
    /* width: 500px;
    height: 313px; */
    position: relative;
}

.site_switch .sc_container, .site_switch .sc_container ul {
    width: 100%;
    height: 350px;
}

.ecope_switchable .sc_container {
    /* width: 500px;
    height: 313px; */
    position: relative;
    overflow: hidden;
}

.site_switch .sc_container, .site_switch .sc_container ul {
    width: 100%;
    height: 350px;
}

.ecope_switchable .sc_container ul {
    /* width: 500px;
    height: 313px; */
}

element.style {
    background: url(http://p0.jmstatic.com/banner/3477/240306_1920_350_002-web.jpg?1586617751) 50% 0px no-repeat;
}

.site_switch li {
    width: 100%;
    height: 350px;
    overflow: hidden;
    /* background-repeat: no-repeat;
    background-position: top center; */
}

.site_switch li a {
    display: block;
    width: 1090px;
    height: 350px;
    margin: 0 auto;
}

/* 每日必看\今明日爆款\今日推荐品牌团 */
.layout_1090 {
    width: 1090px;
    margin: 0 auto;
}

.floor_must_see {
    background: url(http://a5.jmstatic.com/c9533ddc6b064f8f/old_top_tit.jpg) center top no-repeat;
}

.floor_item_title {
    width: 100%;
    height: 28px;
    text-indent: -9999px;
    overflow: hidden;
    margin: 20px 0;
}

.h2 {
    display: block;
    /* font-size: 1.5em; */
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    /* font-weight: bold; */
}

/* 今日上新 */

.today_new_deal .today_deal_tit {
    border-bottom: 2px solid #000;
    position: relative;
}

.today_new_deal .floor_head {
    background-position: 0 -203px;
    text-indent: -9999px;
    border: none;
}

.floor_head {
    height: 25px;
    background: url(http://a4.jmstatic.com/eaca15a907581788/main_tit02_02.png) #f7f7f7 no-repeat;
    width: 1090px;
    position: relative;
    margin-top: 20px;
    /* border-bottom: 2px solid #000; */
}

.today_new_deal .today_deals_tip {
    position: absolute;
    bottom: 6px;
    right: 10px;
    padding-left: 20px;
    color: #ed135d;
    background: url(http://a1.jmstatic.com/14cf1eff35352616/clock.jpg) left 4px no-repeat;
}

/* shop */

.today_new_productlist .today_new_ul {
    width: 1110px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: -20px;
}

.today_new_ul .newdeal_box {
    float: left;
    display: inline;
    background: #fff;
    margin-right: 20px;
    width: 330px;
    box-shadow: 2px 2px 4px #e3e3e3;
    padding: 10px;
    margin-bottom: 20px;
    height: 450px;
    position: relative;
}

.newdeal_box .img_box {
    position: relative;
}

.img_box .img_box_href, .newdeal_box .img_box {
    width: 330px;
    height: 345px;
}

.img_box .img_box_href {
    display: block;
    overflow: hidden;
    position: relative;
    background: url(http://a4.jmstatic.com/50c5e3e79b276c92/loading.gif) no-repeat 150px center;
}

.img_box .img_box_href, .newdeal_box .img_box {
    width: 330px;
    height: 345px;
}

.newdeal_box .img_box .img_w1000 {
    margin-left: -238px;
    width: 862px;
    height: 345px;
}

.newdeal_box .img_box img {
    display: block;
}

img {
    vertical-align: bottom;
}

fieldset, img {
    border: 0;
}


.newdeal_box .commit_new {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    height: 30px;
    overflow: hidden;
    background: rgba(0,0,0,.6);
}

.commit_new .commit_new_box {
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    color: #fff;
}

.newdeal_box .commit_new_global {
    text-align: center;
    background: rgba(159,108,168,.6);
}

.deals_tags {
    position: absolute;
    left: 0;
    top: 0;
}

.deals_tags .tags_haitao {
    background: url(http://a5.jmstatic.com/f5f722f0e8920d0d/new_haitao_icon.jpg) no-repeat;
}

.deals_tags .tags_list {
    width: 40px;
    height: 40px;
    float: left;
    overflow: hidden;
    text-indent: -99em;
    display: inline-block;
    z-index: 1;
    /* background: url(http://a0.jmstatic.com/bb57595e377a354a/home_all_icon.png) no-repeat; */
}

.add_cart_box {
    position: absolute;
    top: 0;
    right: 0;
    /* display: none; */
    z-index: 1;
}

.add_cart_box .add_cart, .add_cart_box .deal_tips, .cate_look {
    display: block;
    width: 79px;
    height: 26px;
    color: #fff;
    background: #ed155b;
    line-height: 26px;
    text-align: center;
}

.add_cart_box {
    position: absolute;
    top: 0;
    right: 0;
    /* display: none; */
    z-index: 1;
}

a {
    text-decoration: none;
}


.newdeal_box .img_box {
    position: relative;
}


.today_new_detail {
    margin-top: 10px;
}

.today_new_detail .title {
    font-size: 14px;
    line-height: 24px;
    color: #333;
    height: 48px;
    font-weight: 400;
    overflow: hidden;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.today_new_detail .intro_box {
    margin-top: 8px;
    height: 48px;
}

.price_box {
    float: left;
    height: 45px;
    line-height: 45px;
}

.price_box em {
    font-size: 18px;
}

.price_box .pnum, .price_box em {
    font-size: 22px;
    color: #ed145b;
    font-family: Arial,Helvetica,sans-serif;
    float: left;
    display: inline;
}

.global_numtimer_box {
    width: 215px;
}

.numtimer_box {
    width: 210px;
    float: right;
    line-height: 45px;
    overflow: hidden;
    height: 45px;
}


/* footer start */
.footer {
    overflow: hidden;
    border-top: 1px solid #ccc;
    background: #fff;
    position: relative;
    bottom: -1px;
    height: 738px;
}

.footer_credit {
    padding: 30px 0 15px 0;
    border-bottom: 1px solid #ccc;
}

.footer_con {
    width: 1090px;
    margin: 0 auto;
    overflow: hidden;
}

/* 第一个优势 */
.footer_credit .mostmall {
    /* width: 130px; */
    width: 158px;
}

.footer_credit .foot_link {
    /* width: 170px; */
    width: calc(100% / 6);
    height: 140px;
    color: #999;
    font-size: 14px;
    display: block;
    float: left;
    line-height: 18px;
    overflow: hidden;
    text-align: center;
    /* width: 198px; */
}

.footer_top .footer_credit .foot_link .first {
    background-image: url(http://a1.jmstatic.com/a80588af4bfc3be4/footer_0901.jpg);
}

.footer_credit .foot_link .corn {
    width: 63px;
    height: 63px;
    display: block;
    overflow: hidden;
    margin: 0 auto 20px;
    cursor: pointer;
    background: url(http://a4.jmstatic.com/2198d559e0e2c3fd/footer_new.png) no-repeat;
}

.footer_credit a.foot_link .con {
    color: #333;
    font-size: 16px;
    height: 24px;
    line-height: 24px;
    overflow: hidden;
    display: block;
    cursor: pointer;
}

/* 第二个优势 */
.footer_credit .foot_link {
    /* width: 170px; */
    height: 140px;
    color: #999;
    font-size: 14px;
    display: block;
    float: left;
    line-height: 18px;
    overflow: hidden;
    text-align: center;
    width: 198px;
}

.footer_credit .quality .corn {
    background-position: -64px 0;
}

.footer_credit .foot_link .corn {
    width: 63px;
    height: 63px;
    display: block;
    overflow: hidden;
    margin: 0 auto 20px;
    cursor: pointer;
    background: url(http://a4.jmstatic.com/2198d559e0e2c3fd/footer_new.png) no-repeat;
}


.footer_credit a.foot_link .con {
    color: #333;
    font-size: 16px;
    height: 24px;
    line-height: 24px;
    overflow: hidden;
    display: block;
    cursor: pointer;
}

/* 第三个优势 */
.footer_credit .back {
    /* width: 160px; */
    width: 188px;
}

.footer_credit .foot_link {
    /* width: 170px; */
    height: 140px;
    color: #999;
    font-size: 14px;
    display: block;
    float: left;
    line-height: 18px;
    overflow: hidden;
    text-align: center;
    /* width: 198px; */
}

.footer_credit .back .corn {
    background-position: -128px 0;
}

.footer_credit .foot_link .corn {
    width: 63px;
    height: 63px;
    display: block;
    overflow: hidden;
    margin: 0 auto 20px;
    cursor: pointer;
    background: url(http://a4.jmstatic.com/2198d559e0e2c3fd/footer_new.png) no-repeat;
}

.footer_credit a.foot_link .con {
    color: #333;
    font-size: 16px;
    height: 24px;
    line-height: 24px;
    overflow: hidden;
    display: block;
    cursor: pointer;
}

/* 第四个优势 */
.footer_credit .foot_link {
    /* width: 170px; */
    height: 140px;
    color: #999;
    font-size: 14px;
    display: block;
    float: left;
    line-height: 18px;
    overflow: hidden;
    text-align: center;
    width: 198px;
}

.footer_credit .consignment .corn {
    background-position: -253px 0;
}

.footer_credit .foot_link .corn {
    width: 63px;
    height: 63px;
    display: block;
    overflow: hidden;
    margin: 0 auto 20px;
    cursor: pointer;
    background: url(http://a4.jmstatic.com/2198d559e0e2c3fd/footer_new.png) no-repeat;
}

.footer_credit a.foot_link .con {
    color: #333;
    font-size: 16px;
    height: 24px;
    line-height: 24px;
    overflow: hidden;
    display: block;
    cursor: pointer;
}

/* 第五个优势 */
.footer_credit .packaging {
    /* width: 158px; */
    width: 186px;
}

.footer_credit .foot_link {
    /* width: 170px; */
    height: 140px;
    color: #999;
    font-size: 14px;
    display: block;
    float: left;
    line-height: 18px;
    overflow: hidden;
    text-align: center;
    /* width: 198px; */
}

.footer_credit .packaging .corn {
    background-position: -316px 0;
}

.footer_credit .foot_link .corn {
    width: 63px;
    height: 63px;
    display: block;
    overflow: hidden;
    margin: 0 auto 20px;
    cursor: pointer;
    background: url(http://a4.jmstatic.com/2198d559e0e2c3fd/footer_new.png) no-repeat;
}

.footer_credit a.foot_link .con {
    color: #333;
    font-size: 16px;
    height: 24px;
    line-height: 24px;
    overflow: hidden;
    display: block;
    cursor: pointer;
}

/* 第六个优势 */
.footer_credit .confide {
    /* width: 134px; */
    width: 162px;
}

.footer_credit .foot_link {
    width: calc(100% / 6);;
    height: 140px;
    color: #999;
    font-size: 14px;
    display: block;
    float: left;
    line-height: 18px;
    overflow: hidden;
    text-align: center;
    /* width: 198px; */
}

.footer_credit .confide .corn {
    background-position: -379px 0;
}

.footer_credit .foot_link .corn {
    width: 63px;
    height: 63px;
    display: block;
    overflow: hidden;
    margin: 0 auto 20px;
    cursor: pointer;
    background: url(http://a4.jmstatic.com/2198d559e0e2c3fd/footer_new.png) no-repeat;
}

.footer_credit a.foot_link .con {
    color: #333;
    font-size: 16px;
    height: 24px;
    line-height: 24px;
    overflow: hidden;
    display: block;
    cursor: pointer;
}

/* footer_top_sen  start */
/* 服务保障 */
.footer_links {
    height: auto;
    padding-top: 30px;
}

.footer_con {
    width: 1090px;
    margin: 0 auto;
    overflow: hidden;
}

.footer_links .linksa {
    width: 160px;
}

.footer_links ul {
    /* width: 156px; */
    height: auto;
    padding-left: 16px;
    float: left;
    zoom: 1;
    overflow: hidden;
}

.footer_links .links {
    color: #666;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 10px;
    overflow: hidden;
}

.footer_links ul li {
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.footer_links ul li a {
    height: 22px;
    line-height: 22px;
    color: #666;
    display: block;
    -webkit-transition: transform .4s linear;
}

.footer_links .footer_zcemail {
    color: rgb(102, 102, 102);
    float: left;
    font-family: 宋体;
}

.footer_links ul {
    width: 156px;
    height: auto;
    padding-left: 16px;
    float: left;
    zoom: 1;
    overflow: hidden;
}

/* 二维码 */
.footer_links .links_er_box {
    position: absolute;
    right: 22px;
    top: 30px;
    border-left: 1px solid #fff;
    display: inline-block;
}

.footer_con.footer_links {
    position: relative;
}

.footer_links .linksf, .footer_links .linksg {
    width: 83px;
    text-align: center;
    padding-left: 36px;
    margin-top: 0;
    height: 146px;
    color: #666;
}

.footer_links ul {
    /* width: 156px;
    height: auto;
    padding-left: 16px; */
    float: left;
    zoom: 1;
    overflow: hidden;
}

ul {
    display: block;
    /* list-style-type: disc; */
   /* margin-block-start: 1em;*/
   /* margin-block-end: 1em;*/
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.footer_links .links {
    color: #666;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 10px;
    overflow: hidden;
}

.footer_links ul li {
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}


.footer_links .linksf .links, .footer_links .linksg .links {
    padding-left: 0;
    margin-left: 0;
}

.footer_links .linksf .links, .footer_links .linksg .links {
    background: 0 0;
    padding: 0;
}

.footer_links .linksf .link_bottom_pic {
    background: url(http://a5.jmstatic.com/fa73c812fb960875/header_corn_new_v2.png) 0 -423px no-repeat;
}

.footer_links .linksf .link_bottom_pic, .footer_links .linksg .link_bottom_pic {
    width: 78px;
    height: 78px;
    display: inline-block;
    overflow: hidden;
    margin-left: 3px;
}

.footer_links .linksg .link_bottom_pic {
    background-image: url(http://a3.jmstatic.com/81b63beae3ad62e0/jumei_weixin_footer.png);
    background-position: 0 0;
}

.footer_links {
    height: auto;
    padding-top: 30px;
}

.footer_con {
    width: 1090px;
    margin: 0 auto;
    overflow: hidden;
}
